p {
	font-size: small;
}

#elelemento {
	color: green;
	text-decoration: underline;
}

.bloque {
	color: #89250F;
}

a {
	text-decoration: none;
}

h1,h2 {
	color: blue;
}

ul > li > a {
	color: purple;
}

ol > li > a {
	color: red;
}

ul  li  {
	color: yellow;
}
